<title>Release Notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="github-markdown.css" type="text/css" />

<style>
    body {
      margin: 0;
      padding: 0;
    }

    .break {
        width: 100%;
        display: block;
        height: 1px;
        background: #eaecef;
    }
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 680px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>

<% releases.each_with_index.map do |release, i| %>
  <article class="markdown-body" id="<%= release[:title] %>">
    <h1>
      <a href="#<%= release[:title] %>">
        <%= release[:title] %>
      </a>
    <% if i == 0 %>       
      <sup><small><code>Latest</code></small><sup>
    <% end %>
    </h1>
    <small>
      <span>Released on <%= release[:published_at] %>, by <%= release[:name] %></span>
      <img src="<%= release[:img] %>" style="vertical-align: middle; width: 25px; height: 25px; border-radius: 50%;" />
    </small>
    <div><%= release[:html] %></div>
  </article>

  <div class="break"></div>
<% end %>
